/* FORMAT KESELURUHAN */
html, body {
    overflow-x: hidden; /* Mencegah scroll horizontal */
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: poppins, sans-serif;
}

/* HEADER */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0; /* Warna latar belakang */
    padding: 200px 0 100px 0;
}
.profile-img {
    width: 300px;
    height: 300px;
    margin-right: 100px; 
}
.header-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Teks rata kiri */
}
h1 {
    color: rgb(158, 0, 0);
    font-size: 50px;
    margin: 0;
}
h2 {
    color: #333;
    font-size: 30px;
    margin: 0 0 20px 0;
}
.social-links {
    display: flex;
    gap: 20px;
}
.social-icon {
    width: 35px;
    height: 32.5px;
    transition: transform 0.3s ease;
}
.social-icon:hover {
    transform: scale(1.2);
}

/* KONTAINER */
.container {
    max-width: 90%;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
}
.container p {
    border: 1px solid #cecece; 
    padding: 40px; 
    border-radius: 10px; 
    margin: 20px 0; 
}
.skill-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 5 kolom dengan lebar sama */
    gap: 1px;
    background-color: #cecece; 
    border: 1px solid #cecece;
    border-radius: 10px;
    margin: 20px 0; 
}
.skill-item {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.skill-item img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}
.experience-container, .education-container {
    border: 1px solid #cecece;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
}
.experience-item {
    padding: 15px 0;
    border-bottom: 1px dashed #cecece;
}
.experience-item:last-child {
    border-bottom: none;
}
.education-item {
    padding: 15px 0;
    border-bottom: 1px dashed #cecece;
}
.education-item:last-child {
    border-bottom: none;
}
.language-container {
    display: flex;
    gap: 20px; 
    margin: 20px 0; 
}
.language-box {
    border: 1px solid #cecece; 
    border-radius: 10px;
    padding: 20px; 
    flex: 1; 
    text-align: center;
}